<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gated Society Management</title>
  <link rel="stylesheet" href="../static/style.css">
</head>

<body class="home-page">  
  <div class="site-title">🏡 Gated Society</div>

  <div class="overlay"></div>

  <div class="main-card">
    <p>Welcome to your digital society portal</p>

    <div class="role-buttons">
     <button onclick="window.location.href='/resident/login'" class="resident-btn">Resident</button>
     <button onclick="window.location.href='/guard/login'" class="guard-btn">Guard</button>
    </div>
  </div>

</body>
</html>
